<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forside</title>
    <link rel="stylesheet" th:href="@{css/cssstyles.css}" href="../static/css/cssstyles.css">
</head>
<body>
<nav>
    <label class="logo">SantasList</label>
    <ul>
        <li><a href="#">Opret</a></li>
        <li><a href="#">Login</a></li>
    </ul>
</nav>

<div>
    <div>
        <h1>
            Juleønsker bliver til virkelighed med Santa's ønskeseddel
        </h1>
        <h2>
            Hos Santa's ønskeseddel kan du lave en personlig ønskeseddel og dele den med dem, du holder af. Så kan du være sikker på, at du får præcis det, du ønsker dig til jul!
        </h2>
    </div>
    <div>
<img  th:src="@{images/oenskeseddel.webp}" src="../static/images/oenskeseddel.webp" alt="ønskeseddel">
    </div>
</div>

</body>
</html>