<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forside</title>
    <link rel="stylesheet" th:href="@{css/cssstyles.css}" href="../static/css/cssstyles.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
<nav>
    <label ><a class="logo-link" th:href="@{logo}" href="homepage.html">SantasList</a></label>
    <ul class="nav-ul">
        <li><a th:href="@{opret}" href="signup.html">Opret</a></li>
        <li><a th:href="@{login}" href="login.html">Login</a></li>
    </ul>
</nav></nav>

<div class="outer-container">
    <div>
        <h1 class="containerLPtekst1">
            Juleønsker bliver til virkelighed med Santa's ønskeseddel
        </h1>
        <h2 class="containerLPtekst2">
            Hos Santa's ønskeseddel kan du lave en personlig ønskeseddel og dele den med dem, du holder af. Så kan du være sikker på, at du får præcis det, du ønsker dig til jul!
        </h2>
        <div>
            <button class="button">Opret</button>
        </div>
    </div>
    <div class="containerLPbillede">
<img  th:src="@{images/oenskeseddel.webp}" src="../static/images/oenskeseddel.webp" alt="ønskeseddel" class="responsive">
    </div>
</div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Virksomhed</h4>
                <ul class="footer-ul">
                    <li class="footer-li"><a class="footer-link" href="#">Om os</a></li>
                    <li class="footer-li"><a class="footer-link" href="#">Vores service</a></li>
                    <li class="footer-li"><a class="footer-link" href="#">Privat politik</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Få hjælp</h4>
                <ul class="footer-ul">
                    <li class="footer-li"><a class="footer-link" href="#">FAQ</a></li>
                    <li class="footer-li"><a class="footer-link" href="#">Login</a></li>
                    <li class="footer-li"><a class="footer-link" href="#">Opret</a></li>
                    <li class="footer-li"><a class="footer-link" href="#">How does it work</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Kontakt information</h4>
                <ul class="footer-ul">
                    <li class="footer-li"><a class="footer-link" href="#">Adresse</a></li>
                    <li class="footer-li"><a class="footer-link" href="#">Telefonnummer</a></li>
                    <li class="footer-li"><a class="footer-link" href="#">Email</a></li>
                    <li class="footer-li"><a class="footer-link" href="#">Discord</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Social media</h4>
                <div class="social-links">
                    <a class="footer-li" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="footer-li" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="footer-li" href="#"><i class="fab fa-instagram"></i></a>
                    <a class="footer-li" href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>