/*css styling for the navbar*/
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: "Calibri Light";
    line-height: 1.5;
}

nav{
    background: red;
    height: 80px;
    width: 100%;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
label .logo-link{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav .nav-ul{
    float: right;
    margin-right: 20px;
}

nav .nav-ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav .nav-ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 25px;
    text-transform: uppercase;
}

.nav-link:hover{
    background-color: #C12301;
    transition: .5s;
}

/*styling for buttons*/
.button{
    background-color: red;
    border: none;
    color: white;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 4px;
    cursor: pointer;
    border-radius: 25px;
    font-weight: bold;
    box-shadow: 5px 5px 3px #888888;
}

button:hover{
    background-color: #C12301;
    transition: .5s;
}


/*styling for footer*/
.container{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-ul{
    list-style: none;
}

.footer{
    background-color: red;
    padding: 70px;
    position: relative;
    width: 100%;
    bottom: 0px;
}

.footer-col h4{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #C12301;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col .footer-ul .footer-li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col .footer-ul .footer-li .footer-link{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
    border-radius: 12px;
}

.footer-col .footer-ul .footer-li .footer-link:hover{
    color: #C12301;
    background-color: white;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #C12301;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #C12301;
    background-color: white;
}

@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}


.outer-container{
    display:flex;
    flex-direction: row;
    max-width: 86%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 80px;


}
.containerLPtekst1{
    flex-direction: row;
    width: auto;
    max-width: 100%;
    padding: 40px;
    font-size: 2vw;
    text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
    border-radius: 25px;

}
.containerLPtekst2{
    flex-direction: row;
    width: auto;
    max-width:80%;
    padding: 40px;
    font-size: 1vw;
    line-height: 1.5;
    text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
}

.responsive{
    width: 150%;
    height: auto;

}
.containerlogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 40px;
    width: 20vw;
    margin: 0 auto;
    background: #F9F9FA;
    border-radius: 25px;
    box-shadow: 5px 5px 3px #888888;
    margin-bottom: 100px;
    margin-top: 25px;
}
input[type=text] {
    border-radius: 25px;
    border: 2px solid red;
    text-align: center;
}

input[type=submit] {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 4px;
    cursor: pointer;
    border-radius: 25px;
    font-weight: bold;
    box-shadow: 5px 5px 3px #888888;
}

/*styling of table*/
.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: red;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 18px 30px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid red;
}

.content-table td .table-link{
    background-color: red;
    color: white;
    padding: 7px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
}
.content-table td .table-link:hover{
    background-color: #C12301;
    transition: .5s;
}

.table-container .table-link{
    background-color: red;
    color: white;
    padding: 7px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
}

.table-container .table-link:hover{
    background-color: #C12301;
    transition: .5s;
}




