<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Ændre ønske</title>
  <link rel="stylesheet" th:href="@{css/cssstyles.css}" href="../static/css/cssstyles.css">
  <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
<nav>
  <label class="logo">SantasList</label>
  <ul class="nav-ul">
    <li><a href="#">Opret</a></li>
    <li><a href="#">Login</a></li>
  </ul>
</nav>

<h1>Opdater dit ønske!</h1>

<div class="table-container">
    <table class="content-table">
        <thead>
        <tr>
            <th>Ønske</th>
            <th>Pris</th>
            <th>Beskrivelse</th>
            <th>URL</th>
            <th>Prioritet</th>
            <th>Reservation</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="wish : ${wishes}">
            <td th:text="${wish.wishName}"></td>
            <td th:text="${wish.price}"></td>
            <td th:text="${wish.wishDescription}"></td>
            <td th:text="${wish.url}"></td>
            <td th:text="${wish.priority}"></td>
            <td th:text="${wish.reserved}"></td>
        </tr>
        </tbody>
    </table>
</div>

<pre>
    <form action="/update" method="POST">
        <input id="id" name="wishID" type="hidden" th:value="${wish.wishID}">
        <label for="wishName">Ønske:</label>
        <input id="wishName" name="wishName" type="text" th:value="${wish.wishName}"/>

        <label for="price">Pris:</label>
        <input id="price" name="price" type="number" th:value="${wish.price}"/>

        <label for="wishDescription">Beskrivelse:</label>
        <input id="wishDescription" name="wishDescription" type="text" th:value="${wish.wishDescription}"/>

        <label for="url">URL:</label>
        <input id="url"  name="url" type="text" th:value="${wish.url}"/>

        <label for="priority">Prioritet:</label>
        <input id="priority" name="priority" type="number" th:value="${wish.priority}"/>

        <label for="reserved">Reservation:</label>
        <input id="reserved" name="reserved" type="number" th:value="${wish.reserved}"/>

        <input type="submit" value="Opdater ønske">
    </form>
</pre>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>Virksomhed</h4>
        <ul class="footer-ul">
          <li class="footer-li"><a class="footer-link" href="#">Om os</a></li>
          <li class="footer-li"><a class="footer-link" href="#">Vores service</a></li>
          <li class="footer-li"><a class="footer-link" href="#">Privat politik</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Få hjælp</h4>
        <ul class="footer-ul">
          <li class="footer-li"><a class="footer-link" href="#">FAQ</a></li>
          <li class="footer-li"><a class="footer-link" href="#">Login</a></li>
          <li class="footer-li"><a class="footer-link" href="#">Opret</a></li>
          <li class="footer-li"><a class="footer-link" href="#">How does it work</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Kontakt information</h4>
        <ul class="footer-ul">
          <li class="footer-li"><a class="footer-link" href="#">Adresse</a></li>
          <li class="footer-li"><a class="footer-link" href="#">Telefonnummer</a></li>
          <li class="footer-li"><a class="footer-link" href="#">Email</a></li>
          <li class="footer-li"><a class="footer-link" href="#">Discord</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Social media</h4>
        <div class="social-links">
          <a class="footer-li" href="#"><i class="fab fa-facebook-f"></i></a>
          <a class="footer-li" href="#"><i class="fab fa-twitter"></i></a>
          <a class="footer-li" href="#"><i class="fab fa-instagram"></i></a>
          <a class="footer-li" href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
</body>
</html>